# PROJECT ID from https://infura.io/dashboard
INFURA_KEY=

# Private keys for deployers
PRIVATEKEY_OWNER_AMB=
PRIVATEKEY_OWNER_ETH=
PRIVATEKEY_OWNER_BSC=

PRIVATE_KEY_DEV=


# verification apis
ETHERSCAN_API_KEY=
BSCSCAN_API_KEY=


# for integration tests
PRIVATEKEY_INTEGR1=
PRIVATEKEY_INTEGR2=
PRIVATEKEY_INTEGR3=
PRIVATEKEY_INTEGR4=
